
#dropdown-menu-open {
    max-height: 275px;
    overflow: hidden;
    min-height: 0px;

}

#dropdown-menu-inner-selectpicker {

    max-height: 263px;
    overflow-y: auto;
    min-height: 0px;
}
#dropdown-menu{
    width:350px;
}
