label.valid {
    width: 24px;
    height: 24px;
    /*background: url(assets/img/valid.png) center center no-repeat;*/
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: rgba(255, 21, 21, 0.91);
    padding: 0px 14px;
    margin-top: -1px;
    position: absolute;
}


.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0px 14px;
    font-size: 14px;
    line-height: 1.428571;
    color: #41e4ff;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    border: 1px solid rgba(13, 255, 33, 0.58);
    border-radius: 9px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 3px;
}

/* all */
::-webkit-input-placeholder { color:#f00; }
::-moz-placeholder { color:#f00; } /* firefox 19+ */
:-ms-input-placeholder { color:#f00; } /* ie */
input:-moz-placeholder { color:#f00; }