body{background:#efefef  url(/images/hexellence.png)
;margin: 0; padding: 0; font: 16px/24px Arial, Tahoma, sans-serif;}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
.btn span.glyphicon-ok {
    opacity: 0;
}
.btn.active span.glyphicon-ok {
    opacity: 1;
}

