@(persistField: models.Field)(error: String)

@main("Create/Edit Field page") {


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/fields">Fields</a></li>
                    <li><a href="/responses">Responses(?)</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logOut">Log out <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form name="field-form" id="field-form" method="post" action="@routes.FieldController.addField()" >

            <div class="row">
                <div class="col-md-6">
                    <label></label>
                </div>
            </div>


            <div class="row">
                <div id ="form-group" class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="lable">Field name:</label>
                        </div>
                    </div>
                    @if(!error.isEmpty) {
                        <input required id="form-lable" type="text" style="color: red" name="lable" placeholder="@error">
                    } else {
                        <input required id="form-lable" type="text" name="lable" value="@persistField.getLable">
                        }

                </div>
                <div id ="form-group" class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label></label>
                        </div>
                    </div>
                    @*сдeлать через JS вставку атрибута checked если с сервера пришол true для всех checkbox*@
                    <label><input id="form-required" name="required" type="checkbox" >Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label></label>
                </div>
            </div>

            <div class="row">
                <div id ="form-group" class="col-md-6">
                    <div class="row">
                        <div class="col-xs-4 col-sm-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fieldType">Field type:</label>
                                </div>
                            </div>
                            @*сдeлать через JS вставку атрибута selected в необходимую опцию при сравнениее persistField.getFieldType c FieldType*@
                            <select required form="field-form" name="fieldType" id="form-fieldType" data-style="" data-placeholder="Choose a field type...">
                                <option value="@persistField.getFieldType"></option>
                                <option value="SINGLE_LINE_TEXT">SINGLE_LINE_TEXT</option>
                                <option value="TEXTAREAS">TEXTAREAS</option>
                                <option value="CHECH_BOX">CHECH_BOX</option>
                                <option value="RADIO_BUTTON">RADIO_BUTTON</option>
                                <option value="COMBOBOX">COMBOBOX</option>
                                <option value="DATE">DATE</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div id ="form-group" class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label></label>
                        </div>
                    </div>
                    <label><input id="form-active" name="active" type="checkbox" >Active</label>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <button class="btn btn-xs btn-primary add-field" type="submit" name="add" ><span class="glyphicon glyphicon-floppy-save"><b>
                        Save</b></span></button>
                </div>
            </div>


        </form>

    </div>


}
