@import java.util
@(fields: util.List[models.Field])(checkedR: String)(checkedA: String)
@main("Fields") {
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/fields">Fields</a></li>
                    <li><a href="/responses">Responses(?)</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logOut">Log out <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <a class="btn btn-xm btn-primary" name="0" href="/fields/ID_OR_UUID_OF_THE_FIELD_ENTITY" role="button"><span class="glyphicon glyphicon-plus">
            Add Field</span></a>
        <div class="center-block">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Lable</th>
                        <th>Type</th>
                        <th>Required</th>
                        <th>Is Active</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>

                @for(field <- fields) {


                    <tbody>
                        <tr><td class="center">@field.getLable</td>
                            <td class="center">@field.getFieldType</td>
                            @*сдeлать через JS вставку атрибута checked если с сервера пришол true для всех checkbox*@
                            <td class="center"><input name="required" type="checkbox" >@field.isRequired</td>
                            <td class="center"><input name="active" type="checkbox" >@field.isActive</td>
                            <form method="post" action="@routes.FieldController.editField()">
                                <input class="hidden" name="id" value="@field.getId">
                                <td class="text-center"><button type="submit" class="btn btn-info btn-xs" name="1" href="/fields/ID_OR_UUID_OF_THE_FIELD_ENTITY">
                                    <span class="glyphicon glyphicon-edit"></span>Edit</button>
                                </td>
                            </form>
                            <form method="post" action="@routes.FieldController.deleteField()">
                                <input class="hidden" name="id" value="@field.getId">
                                <td class="text-center"><button type="submit" class="btn btn-danger btn-xs delete">
                                    <span class="glyphicon glyphicon-remove">Delete</span></button>

                                </td>
                            </form>
                        </tr>
                    </tbody>

                }
            </table>
        </div>
    </div>
}
@*<input class="btn btn-danger btn-xs" type="submit" >*@