@main("Log In Page") {
    <script src="@routes.Assets.versioned("javascripts/logIn.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/logIn.css")">
    <!-- Validate Plugin -->
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md">

            <fieldset>
                <form class="form-horizontal" id="register" name="register" action="@routes.LogInController.getLogIn()">
                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">First Name</label>
                        <div class="col-md-3">
                            <input id="name" name="name" type="text" placeholder="First Name" class="form-control input-md">
                        </div>
                    </div>

                        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="surname">Last Name</label>
                        <div class="col-md-3">
                            <input id="surname" name="surname" type="text" placeholder="Last Name" class="form-control input-md">
                        </div>
                    </div>

                        <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Password</label>
                        <div class="col-md-3">
                            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
                        </div>
                    </div>

                        <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-8">
                            <button id="submit" name="submit" class="btn btn-success">Log In</button>
                            <button id="reset" name="reset" type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </fieldset>

        </div>
    </div>

    <script type="text/javascript">

	$(document).ready(function(){

 $('#register').validate(
 {
  rules: {
    name: {
      minlength: 2,
      required: true
    },
    surname: {
      required: true
    },
    password: {
      minlength: 2,
      required: true
    }
  },
  messages: {
        name: "Please enter your first name",
        surname: "Please enter your last name",
        password: {
            required: "Please provide a password",
            minlength: "Your password must be at least 5 characters long"
        }
  },
  highlight: function(element) {
    $(element).closest('.form-group').removeClass('success').addClass('error');
  },
  success: function(element) {
    element
    .text('OK!').addClass('valid')
    .closest('.form-group').removeClass('error').addClass('success');
  }
 });
}); // end document.ready
	</script>


}
