@import java.util
@(responseList: util.List[models.Response])

@main("Responses") {

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/fields">Fields</a></li>
                    <li><a href="/responses">Responses(?)</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logOut">Log out <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
            <!--таблица с responses-->
        <div class="container">

            <div class="center-block">
            @for(response <- responseList) {

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                        @for(answer <- response.getAnswers) {
                            <th>@answer.getField.getLable </th>
                        }
                        </tr>
                    </thead>
                    @for(answer <- response.getAnswers) {
                        @if(answer.getValue != null) {
                            <tbody>
                                <tr><td class="center">@answer.getValue</td>
                                    } else {
                            @for(option <- answer.getOptions) {
                                @if(option == null) {
                                    <td class="center">N/A</td>
                                } else {
                                    <td class="center">@option.getValue</td>
                                }
                            }
                        }
                    }
                </tr>
                </tbody>
                </table>
            }
            </div>
        </div>
    </div>


}