@(message: String)

@main("Responses collecting") {

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logIn">Log in</a></li>
                    <li><a href="/logOut">Log out <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="center-block">
            @message
            </div>
        </div>
    </div>
    <!--форма для заполнения ответа response-->
    @*<form method="post" action="@routes.FieldController.addField()">*@
    @*<input type="text" name="lable">*@
    @*<input type="text" name="type" value="type">*@
    @*<input type="radio" name="isActive" value="active" >*@
    @*<input type="radio" name="required" value="required">*@
    @*<input type="submit" name="add" >*@
    @*</form>*@
    <div class="container">

        <div class="row">
            <form method="post" action="@routes.ResponseController.addResponse()">
                <div class="col-md-1">
                    <input class="btn btn-xs btn-primary add-field" type="submit" name="add" value="Submit" >
                </div>
            </form>
            <div class="col-md-1">
                <button type="reset" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-reset"></span>Reset</button>
            </div>
        </div>
    </div>


}